<ion-content [fullscreen]="true">
  <div class="main">

    <div class="main__title">
      <h3>
        <app-icons name="logo-icon" />
        MOTOTALK
      </h3>
      <p>Голосовая связь без интернета</p>
    </div>

    <button class="main__button" (click)="navigateToDeviceSearch()">
      <app-icons name="microphone-icon" />
    </button>

    <div class="main__action-hint">
      <h4>Готов к подключению</h4>
      <p>Нажмите для поиска второго устройства</p>
    </div>

    <div class="main__controls">
      <div class="control">
        <button class="control__button">
          <app-icons name="history-icon" />
        </button>
        <span class="control__hint">История</span>
      </div>
      <div class="control">
        <button class="control__button">
          <app-icons name="main-setting-icon" />
        </button>
        <span class="control__hint">Настройки</span>
      </div>
    </div>
  </div>
</ion-content>
